*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5451fa;
    height: 60%;
    width: 100%;
    position: relative;
}

.bg {
    height: 680px;
    width: 370px;
    background-color:#ffffff;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #4442bc;
    text-align: center;
    margin-top: 20px;

}

.img{
    padding: 30px 0 0 0;
    /* margin: auto; */
    
}
h3{
    font-weight: bold;
    font-size: 24px;
    font-weight: 900;
    margin: -40px 0 5px 0;
}
.verified-icon{
    height: 18px;
    vertical-align: middle;
}
p{
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    /* letter-spacing: .5px; */
    /* padding: 10px; */
    color: #797979;

}
.top-icons {
    display: flex;
    justify-content: flex-end;
    opacity: .7;
    padding: 20px 25px 0 0;
}
.search {
    /* padding-left: -45px; */
    height: 35px;
}
.notification {
    padding-left: 5px;
    height: 35px;
}

.banner{
    height: 105px;
    border-radius: 20px;
    align-items: center;
    margin-top: -10px;
   
}

.avatar {
    height: 130px;
    /* display: inline-block; */
    text-align: center;
    margin: auto;
    z-index: 3;
    position: relative;
    top: -50px;
}
.numbers{
    width: 50px;
    height: 30px;
    align-items: center;
    position: absolute;
    text-align: center;
    display: inline;
    position: sticky;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 0 0 0;
    line-height: 13px;
    z-index: 4;

}
.number1{
    margin: 0 20px 0 20px;
}
.number2{
    margin: 0 20px 0 20px;
}
.number3{
    margin: 0 20px 0 20px;
}
span{
    color:#5451fa;
}
.upper-txt{
    font-size: 25px;
}
.lower-txt{
    font-size: 12px;
    font-weight: 400;
    margin: -10px;
    padding: 5px 0 0 0;
}
.btn{
    padding: 23px 130px 23px 130px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #5451fa;
    border: none;
    display: inline-block;
    margin: 10px;
    z-index: 6;
}
.btn:hover{
    background-color: #dcdbfe;
    /* border: 3px solid #4442bc; */
    color: #5451fa;
    font-weight: 600;
}

ul {
    margin-top: 16px;
    padding-left: 50px;
    align-items: center;
}
li{
    list-style: none;
    text-align: left;
    font-size: 14px;
    color: #797979;
    
}
.lower-icon {
    height: 20px;
    vertical-align:text-bottom;
    opacity: .8;
}

/* ATTRIBUTION  */

.footer{
    margin: 90px 0 30px 0;
    color: rgb(218, 218, 218);
    font-weight: 500;
    
}

a{
    font-weight: bold;
    text-decoration: underline;
    color: whitesmoke;
}

/* MEDIA QUERY  */

@media screen and (max-width: 375px) {

    .bg {
        height: 640px;
        width: 355px;
        background-color:#ffffff;
        border-radius: 20px;
        box-shadow: 5px 10px 8px #4442bc;
        text-align: center;
        margin-top: 10px;
  }

  .banner{
    height: 100px;
    border-radius: 20px;
    align-items: center;
    margin-top: -10px; 
}

ul {
    margin-top: 7px;
    padding-left: 50px;
    align-items: center;
}

}